<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Team Profile Generator</title>
        <meta name="team profile generator" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Staatliches&display=swap" rel="stylesheet">
        <!--bootstrap-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <!--iconic-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
        <!--css stylesheet-->
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 jumbotron">
                    <h1 class="text-center"><span class="iconic iconic-people" title="people" aria-hidden="true"></span> My Team</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="team-area col-12 d-flex flex-wrap justify-content-between bg-primary p-3">
                    <!--team cards go here-->
                    {{ team }}
                </div>
            </div>
        </div>
    </body>
    </body>
</html>
